PORT=3000
PRODUCT_API_LOG=DEBUG
PRODUCT_API_ENABLED_LOG=true

ENABLED_MONGODB=false
MONGO_QUERY_STRING=mongodb://localhost:27017/node-express-mongodb-server
MONGO_PORT=27017
MONGO_HOST=localhost
MONGO_USER=user
MONGO_PASSWORD=123456
MONGO_DB=multi-schema-arch
